MCP_TRANSPORT=streamable-http
MCP_DATA_ROOT=data
MCP_HOST=127.0.0.1
MCP_PORT=8000
MCP_MAX_PREVIEW_ROWS=50
MCP_MAX_SQL_ROWS=1000
MCP_MAX_CATEGORICAL_VALUES=5
MCP_PROFILE_CACHE_ENABLED=true
MCP_PROFILE_CACHE_MAX_ENTRIES=128
MCP_LOG_LEVEL=INFO
